.toggle {
  border-radius: 50%;
  outline: none;
  font-size: 25px;
  height: 40px;
  width: 40px;
  background-color: var(--bg-btn);
  padding: 4px 8px;
  border: 1px solid var(--btn-border);
  box-shadow: 0 1px 4px 0 var(--bg-dots);
}


.toggle svg {
  fill: var(--theme-toggler);
  stroke: var(--theme-toggler);
}
