.footer {
  margin: 0 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
  font-size: 24px;
}

.footer ul > li {
  list-style-type: none;
  margin-right: 12px;
  cursor: pointer;
  display: inline-flex;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 34px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
