.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
  background: rgb(255 255 255 / 4%);
  filter: blur(5px);
}

.content {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zIndex-L1);
  height: 90%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background: var(--bg);
  border-color: var(--btn-border);
  box-shadow: 0 1px 4px 0 var(--bg-dots);
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  animation: rise 700ms forwards cubic-bezier(0.32, 1, 0.23, 1);
}

.contentInfo {
  height: 100%;
  width: 100%;
  overflow: auto;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 24px,
    black 95%,
    transparent
  );
}

@keyframes rise {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.close {
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 16px;
  top: 16px;
  padding: 20px;
  z-index: var(--zIndex-L1);
  background-color: var(--bg-btn);
  padding: 4px 8px;
  border: 1px solid var(--btn-border);
  box-shadow: 0 1px 4px 0 var(--bg-dots);
}

.close:focus:after {
  border-radius: 50%;
}

.close i {
  top: 0;
}

@media (--screen-mweb) {
  .content {
    width: 100%;
  }
}
