[data-theme='dark'] {
  --bg: #191919;
  --color-link-hover: #248aff;
  --text-color-dark: #fff;
  --text-color-light: #ffffff99;
  --text-color-normal: #ffffffde;
  --bg-dots: #1d1d1d;
  --theme-toggler: #e2ff00;
  --bg-btn: #3b3b3b;
  --btn-border: hsl(0deg 0% 23%);
  --btn-bsdow: #000000a6;
  --color-link: #3F99FF;
  --color-hand: #b4836d;
  --color-email: #e2ff00;
  --color-link-focus: #e2ff00;
  --color-headout: #ffffff;
}
