@import './light.css';
@import './dark.css';

:root {
  color-scheme: light dark;
  --color-white: #fff;
    --color-blue: #1a75da;
  --color-green: #19af55;
  --color-purple: #805de1;
  --color-border: #dde0e4;
  --zIndex-L1: 100;
  --zIndex-L0: -1;
}