:root {
  --color-blue: #1f7ae0;
  --color-green: #19af55;
  --color-purple: #805de1;
  --color-border: #dde0e4;
  --color-white: #ffffff;
  --color-link-hover: #248aff;
  --text-color-dark: #2f363f;
  --text-color-light: #81878c;
  --text-color-normal: #000;
  --bg-dots: #fafafa;
}
