.container {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  margin-top: 10px;
  list-style-type: none;
}

.image {
  height: 65px;
  width: 65px;
  flex-shrink: 0;
}

.image figure {
  position: absolute;
  border-radius: 8px;
  height: 65px;
  overflow: hidden;
  width: 65px;
}

.link {
  display: inline-block;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .link {
    padding: 8px 0;
    font-size: 16px;
  }

  .info {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 20px;
  }
}
