*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Silka Regular';
  background-color: var(--bg);
  background-image: radial-gradient(var(--bg-dots) 10%, transparent 10%);
  background-size: 50px 50px;
  animation: shimmer 100s linear infinite forwards;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

p,
h1 {
  font-size: var(--font-size-md);
}

p,
article,
section,
h1 {
  line-height: 1.5;
}

*:focus {
  outline: 0.15rem dashed var(--color-link-focus);
  outline-offset: 0.25rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  a {
    font-size: 16px;
  }
}
