.ml12 {
  margin-left: 12px;
}

.ml8 {
  margin-left: 8px;
}

.ml24 {
  margin-left: 24px;
}

.mr12 {
  margin-right: 12px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb12 {
  margin-bottom: 12px;
}

.mr16 {
  margin-right: 16px;
}


.mb16 {
  margin-bottom: 16px;
}
